$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

/* Mixin to use anywhere */
@mixin respond($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}