/* HERO SECTION */
@import '../../scss/breakpoint.scss';

.hero-section {
  padding: 5px 0;
  background-image: url('../../assets/images/main-banner.png');
  background-repeat: no-repeat;
  background-size: 100%;

  @include respond(md) {
    padding: 50px 0;
  }
}

.hero-section-container {
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px;

  @include respond(md) {
    width: 90%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    gap: 40px;
    flex-direction: row;
  }
}

.hero-title {
  font-size: 16px;

  @include respond(lg) {
    font-size: 36px;
    line-height: 1.4;
  }
}


/* Desktop: Inline (all in one line) */

.hero-title span {
  display: inline;
  margin-right: 6px;

  @include respond(lg) {
    display: block;
  }

}

/* LEFT SIDE */
.left-box {
  flex: 1.3;
}

.tag {
  font-size: 14px;
  border-radius: 6px;
  color: #444;
  position: relative;
  padding: 6px 6px 6px 30px;
  border: 1px solid #4444447a;
  border-radius: 25px;

  &::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 4px;
    top: 3px;
    background-image: url('../../assets/images/check-circle.png');
    background-repeat: no-repeat;
  }
}

.left-box h1 {
  font-size: 16px;
  color: #b51212;
  margin-top: 15px;
  font-weight: 700;

  @include respond(lg) {
    margin-top: 20px;
    font-size: 36px;
    line-height: 1.3;
  }
}

.subtitle {
  margin: 20px 0;
  font-size: 15px;
  color: #444;
  line-height: 1.7;
  width: 425px;
}

/* BUTTONS */
.btn-row {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.primary {
  background: #d62821;
  color: white;
}

.outline {
  background: transparent;
  border: 1px solid #d62821;
  color: #d62821;
}

.mySwiper {
  width: 100%;
  padding: 20px 0;
}

.mySwiper img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.swiper-button-next,
.swiper-button-prev {
  color: #333;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}


/* STATS */
.stats-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: #F7F1EC;
  padding: 30px 15px 0px 10px;

  @include respond(md) {
    gap: 70px;
  }

  @include respond(lg) {
    gap: 160px;
  }
}

.stat {
  text-align: center;
  font-size: 10px;
  color: #333;

  @include respond(md) {
    font-size: 20px;
  }
}

.stat span {
  color: #d62821;
  font-weight: bold;
}

.stat img {
  width: 40px;
  margin-bottom: 5px;

  @include respond(md) {
    width: 70px;
  }
}

/* RIGHT FORM */
.right-box {
  width: 340px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

.right-box h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.right-box form label {
  font-size: 13px;
  display: block;
  margin: 10px 0 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.right-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 0px;
}

.radio-row {
  display: flex;
  gap: 15px;
  margin: 10px 0;
}

.btn-form {
  background: #d62821;
  width: 100%;
  padding: 12px;
  margin-top: 0px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* LOGOS */


.logos img {
  height: 45px;
  opacity: 0.85;
}

/* RESPONSIVE */
@include respond(lg) {
  .container {
    flex-direction: column;
  }

  .stats-row {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* carosual section start */
.logos {
  padding: 30px 0px;
  background-color: #f9f9f9;
}

.select-wrapper {
  position: relative;
}

.custom-select {
  position: relative;
  background-image: url('../../assets/images/arrow-down.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
  padding-right: 35px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  @include respond(md) {
    width: 15% !important;
  }
}

ul.logo-list {
  overflow-y: scroll;
  max-width: calc(100% - -89px);
  list-style: none;
  display: flex;
  gap: 10px;

  @include respond(md) {
    overflow: hidden;

  }

  >li {
    width: 100%;

    @include respond(md) {
      width: calc((100% - 80px) / 9);
    }
  }
}

/* carosual section end */

.btn-row {
  .btn {
    border: 1px solid #d62821;
  }
}

.section-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
  font-weight: 700;
}

.section-subtitle {
  font-size: 15px;
  color: #555;
  max-width: 700px;
  margin: 0 auto;
}
.service-background{
  background-image: url('../../assets/images/card-bg-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin:50px 0px;
}
.services-section {
  overflow: hidden;
}

/* Card */
.service-card {
  background: #fff;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.08);
  transition: 0.2s ease-in-out;
  height: 100%;
}

.service-card:hover {
  transform: translateY(-2px);
}

/* Book Image */
.book-img {
  width: 110px;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 14px;
}

/* Text Styling */
.card-info p {
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.publisher,
.journal,
.impact,
.author {
  font-weight: 500;
}

/* Title anchor */
.title-link {
  color: #0066cc;
  text-decoration: underline;
  font-weight: 500;
}

.title-link:hover {
  color: #004799;
}

/* Read More */
.readmore {
  color: #0066cc;
  font-weight: 600;
  margin-top: 4px;
  display: inline-block;
}

.readmore:hover {
  color: #004799;
}

/* card section end */


/* below card section start */
.quote-box {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.quote-container {
  width: 90%;
  max-width: 650px;
  background: #ffffff;
  border: 2px solid #2ea3ff;
  border-radius: 8px;
  padding: 20px;
}

/* Header */
.quote-header {
  text-align: center;
  background: #2ea3ff;
  color: #fff;
  padding: 18px 10px;
  border-radius: 4px;
}

.quote-header h3 {
  font-size: 20px;
  margin-bottom: 3px;
}

.quote-header p {
  font-size: 12px;
  opacity: 0.9;
}

/* Buttons */
.quote-buttons {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.quote-btn {
  flex: 1;
  background: #2ea3ff;
  color: #fff;
  padding: 12px;
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}

.quote-btn span {
  font-size: 11px;
  font-weight: normal;
}

/* Bottom Info */
.quote-info {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dcdcdc;
  padding-top: 12px;
  margin-top: 10px;
  font-size: 14px;
}

.info-left,
.info-right {
  width: 48%;
}

.info-left p,
.info-right p {
  margin: 4px 0;
}

/* Responsive */
@media (max-width: 600px) {
  .quote-buttons {
    flex-direction: column;
  }

  .quote-info {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .info-left,
  .info-right {
    width: 100%;
  }
}